fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
bcrypt
email-validator
langchain
langchain-core
langgraph
youtube-transcript-api
pinecone
langgraph-checkpoint-sqlite
langchain-huggingface
